*,
*::before,
*::after,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: var(--light-grey);
}

router-view {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #52abff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #66b5ff;
}

fam-button [type='secondary-hole-disabled'] {
  background: #f9f9f9 !important;
  transition: ease-in 0.2s;
  font-size: 1.2em;
}
fam-button [type='secondary-hole-disabled']:hover {
  background: #ff4470 !important;
  color: #ffd4de;
}

fam-button [type='primary'] {
  transition: ease-in 0.2s;
}

fam-button [type='primary']:hover {
  background: #0084ff !important;
  color: #cdedff;
}

fam-text-input span {
  margin: 0 !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
